    <meta charset="utf-8">
    <meta name="description" content="Shows in Arizona!">
    <meta name="viewport" content="width=device-width, initial-scale=0.4">
    <meta property="og:image" content="https://showsinaz.com/images/stonks.gif">
    <meta property="og:title" content="Go see live music in Arizona!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://showsinaz.com">
    <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48dGV4dCB5PSIuOWVtIiBmb250LXNpemU9IjkwIj7wn5OIPC90ZXh0Pjwvc3ZnPg==">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/magick.css">
    <style>
      body{color:#eaeaea; background-color:#D9AFD9; background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); color: black;}
      img{display:block; margin:100px auto; border-radius:5px}
      h1{margin-left: 3em}
    </style>
