<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shows In AZ!</title>
{% include meta.html %}
  </head>
  <body>
    <h1>showsinaz.com</h1>
    <pre>
    3/7 The Brook & The Bluff w/ Teenage Dads @ 191 Toole
    3/7 Peekaboo @ Walter Where?House
    3/7 Powfu @ Valley Bar
    3/7 Zzzahara @ The Nile
    3/7 Belvedere @ Yucca Tap Room
    3/7 Sam Outlaw w/ Hannah Connolly @ The Rebel Lounge
    3/7 Midnite Vibez @ House of Bards
    3/7 John Waite w/ Frank Viele @ The Rialto
    3/7 Hurricane Ruth @ The Rhythm Room
    3/7 Sub Terra @ Darkstar
    3/7 Fred Hersch @ Musical Instrument Mus
    3/8 Dayweather @ OHSO Gilbert
    3/8 Armen Miran @ Waltercashable?
    3/8 Cody Hibbard @ Last Exit Live
    3/9 Xtra Ticket @ Cactus Jacks
    3/9 War @ Gila River Casino
    3/9 GroupLove @ The Van Buren
    3/9 Bird Talker @ Valley Bar
    3/9 Colyn & Sean Watson @ Walter W.H.
    3/9 Nostalgix @ Sunbar
    3/9 Louis JayXX @ Darkstar
    3/9 Velo Valo @ Yucca North
    3/9 Of The Lost @ 191 Toole
    3/9 Jimi "Primetime" Smith & Bob Corritore Band @ The Rhythm Room
    3/9 Tough Luvv Fest w/ Three 6 Mafia & City Morgue, many others @ Mesa Amphit
    3/9 Safety Orange @ Yucca Tap Room
    3/9 Phoenix Funkeros @ Yucca Tap Room (In the lounge)
    3/9 There is no us, Grey Daze, Bury the Darkness @ The Rebel Lounge
    3/9 Zero & Ghost Effect @ Walter Studios
    3/9 Lukas Nelson @ POTR @ The Marquee
    3/9 Fear @ The Nile
    3/10 LakeDub, The Riddims, Tropical Vibration @ Last Exit Live
    3/10 Boogarins & Levitation Room @ The Rebel Lounge
    3/10 Mama Tried @ Yucca Tap Room
    3/10 Blissful Harmonics @ Walter Studios
    3/10 Luigi Leone w/ Riley Duggan & More @ The Rhythm Room
    3/10 Proud Tina (Tina Turner Tribute) @ Chandler Center of the Arts
    3/11 Lukas Nelson & POTR @ The Rialto
    3/11 Briston Maroney @ The Van Buren
    3/11 Eliza McLamb @ Valley Bar
    3/11 Bad Nerves @ The Nile
    3/12 The Kills @ The Van Buren
    3/12 Charlotte Sands @ Crescent Ballroom
    3/12 Gregory Alan Isakov & Bonnie Paine of Elephant Revival @ Orpheum Flagstaff
    3/12 Killer Queen (tribute) @ The Marquee
    3/12 Joecephus & The George Jonestown Massacre @ Yucca Tap Room
    3/12 Jordan Ward Presents: Westward @ Valley Bar
    3/12 Buzzcocks w/Modern English @Rialto
    3/13 Voivod, Prong @ Moved to Valley Bar
    3/13 Lisa Mitts Band @ The Rhythm Room
    3/13 Atlus & Ryan Charles @ Rebel Lounge
    3/14 Kansas @ Fox Theater
    3/14 Michael Graves (of The Misfits) @ Cactus Jacks
    3/14 Peace PI (Silent Disco) @ Walter Studios
    3/14 Osamason @ Valley Bar
    3/14 Wild Party, Buddha Trixie @ Rebel Lng
    3/15 The Glitch Mob & Ivy Lab(dj set)
    3/15 Descendants & Circle Jacks @ The Marquee Theater
    3/15 The Boneshakers @ Rhythm Room
    3/15 Elephante @ Darkstar
    3/15 Farm Truck @ Yucca Tap Room
    3/15 Dierdre & Arsenic Kitchen @ Rebel Lg
    3/15 Claire Rosenkranz @ Crescent Ballrm
    3/15 Flogging Molly @ The Rialto
    3/15 Bear Ghost & Damn The Weather @ Last Exit Live
    3/15 Spunj w/ Hypervisor & Mama Tried Grass @ Cactus Jacks
    3/15 HVDES x HI I'm Ghost @ Sunbar
    3/15 Slow Hollows @ Valley Bar
    3/16 Spunj w/ Planck @ Cactus Jacks
    3/16 Goldwax Revival @ Last Exit Live
    3/16 Top Dead Center @ The Hut
    3/16 Guilty Pleasures w/ Dark Mark, Peachy Keen, Night Glider, Safe Word, Allie Radd @ Darkstar Tempe
    3/16 Hockey Dad @ 191 Toole
    3/16 The Outlaws @ The Rialto
    3/16 Night Lovell @ The Van Buren
    3/16 Joss Stone @ Chandler Center of Arts
    3/16 Squared, Brain Cake, Torn at the Seam, Madd Dog Tannea @ Yucca Tap
    3/16 Acoustic Eidolon @ Sea of Glass Center for the Arts
    3/16 Dirtmonkey w/ The Widdler @ Sunbar
    3/16 Paradise Kitty (female G&R tribute) @ The Marquee Theater
    3/16 Bloom w/ Mele & Life On Planets @ Walter Where?House
    3/16 Bethany Home Album Release @ Valley Bar
    3/16 Mike Dillon & Punkadelick @ Mesa Theater
    3/16 Hart Fund Blues Fundraiser w/ many great Blues Artists @ The Rhythm Room
    3/17 The Harvest @ Handle Bar J's
    3/17 Jake Dean Band w/ Shawn Johnson @ R.T.O. Sullivans
    3/17 Lil Tecca @ The Marquee Theater
    3/17 Early Moods @ Yucca Tap Room
    3/17 Sarah & The Sundays w/ The Brazen Youth @ The Rebel Lounge
    3/17 Paradise Kitty (female G&R tribute) w/ Iron Priestess @ 191 Toole
    3/17 Here Come The Mummies @ Fox Thtr
    3/18 Jhayco @ Celebrity Theater
    3/18 Remo Drive w/ Wilt, Practically People @ The Rebel Lounge
    3/19 Toto @ The Rialto
    3/19 Darren Kelly & Nathaniel Riley @ Last Exit Live
    3/19 Provoker w/ High School @ Rebel Lng
    3/19 Mariah the Scientist @ The Van Buren
    3/19 The Ghost Club @ Valley Bar
    3/19 & 20 Rene Vaca @ 191 Toole
    3/20 Busta Rhymes @ The Van Buren
    3/20 High Fade @ Valley Bar
    3/20 Jhariah @ The Rebel Lounge
    3/20 The White Buffalo @ Orpheum Flagst.
    3/20 IV & The Strange Band (feat. Hank IV) @ Yucca Tap Room
    3/20 Carly Harvey w/ The Cactus Devils @ The Rhythm Room
    3/21 Kamaiyah @ Valley Bar
    3/21 The White Buffalo @ Club Congress
    3/21 Midnight Tyrannosaurus @ Orpheum Theater Flagstaff
    3/21 Odetari w/ 10zen @ The Rebel Lounge
    3/21 Lany @ AZ Financial Theater
    3/21 03 Greedo w/ DJ A-Tron
    3/21 Mill's End, The Breakup Society, The Real Fakes, Japhys Decent @Rhythm Room
    3/22 The Crystal Method @ Walter W.H.
    3/22 MC4D @ Darkstar
    3/22 Zoso @ Orpheum Flagstaff
    3/22 Russell Dickerson @ AZ Financial Thtr
    3/22 Doah's Daydream, Skumbudz, The Conveyors @ Last Exit Live
    3/22 Jessica Audiffred @ Sunbar
    3/22 Alicia Villarreal @ The Rialto
    3/22 The Spacers & Gentlemen Rogues @ Tine out Lounge
    3/22 Dusty Rug, Freezing Hands @Yucca N.
    3/22 Scott H. Biram @ The Rhythm Room
    3/22 Marmalade Skies @ Cactus Jacks
    3/23 Planck @ On the Rocks
    3/23 Comptalo & The Humanaughts (album release party) @ Last Exit Live
    3/23 Zeppapotapuss w/ Camello Road @ Cactus Jacks
    3/23 Pat Travers Band @ Rhythm Room
    3/23 The Snuts @ Valley Bar
    3/23 MPH & Michael Sparks @ Darkstar
    3/23 Matt Hansen @ The Rebel Lounge
    3/23 Alicia Villarreal @ The Van Buren
    3/23 Sara Landry @ Walter Where?House
    3/23 Richie Furay & Firefall @ Fox Theater
    3/23 Supernova w/ Isis Muretech @ Walter Studios
    3/23 Claustrofobia & The Damnation @ House of Bards
    3/23 All You Need Is Love Beatles Tribute @ Celebrity Theater
    3/24 Big Something & The Ries Brothers @ Crescent Ballroom
    3/24 Lady Smith Black Mambaza @ The Rialto
    3/24 Matt Vandal @ The Rhythm Room
    3/24 Pat Travers Band @ 191 Toole
    3/24 London Elektricity & Degs @ Darkstar
    3/24 Swami & The Bed of Nails @ The Rebel Lounge
    3/24 Haley Blais @ Valley Bar
    3/24 Annelida @ Yucca Tap Room
    3/24 Bryce Vine @ The Van Buren
    3/24 Rumours ATL (Fleetwood Mac tribute) @ The Marquee Theater
    3/25 Chelsea Cutler @ The Van Buren
    3/25 Willis @ Valley Bar
    3/25 Mehro w/ King Isis @ Rebel Lounge
    3/26 Em Beihold @ Crescent Ballroom
    3/26 Brutus @ The Rebel Lounge
    3/26 Hannah Wicklund @ Valley Bar
    3/26 Rumours ATL (Fleetwood Mac tribute) @ The Rialto
    3/27 Nite @ Yucca Tap Room
    3/27 Cosmic Coyote @ San Tan Gardens
    3/27 Wheatus w/ Gabrielle Serbenz, Sliced Limes @ The Rebel Lounge
    3/27 Taken by the Horns (Blood, Sweat, & Tears Tribute) @ The Rhythm Room
    3/26 Wizzerd @ Yucca Tap Room
    3/28 Andy Frasco & The U.N. @ Crescent
    3/28 Hippie Sabotage @ The Van Buren
    3/28 Kublai Khan TX @ The Marquee
    3/28 Buckets, Bethany Home, Practically People @ Last Exit Live
    3/28 Matt the Electrician & Ryan David Green @ The Rhythm Room
    3/28 Victoria Canal @ Valley Bar
    3/28 Beeson @ The Rebel Lounge
    3/29 Uncommon Good @ Rockbar
    3/29 Paul Oakenfold @ Sunbar
    3/29 Video Age @ Valley Bar
    3/29 Bynx @ Darkstar
    3/29 Shell Shock @ House of Bards
    3/29 Victoria Canal w/ Lucy Clearwater @ 191 Toole
    3/29 Cowboy Prom, The Hourglass Cats, Tropic Vibration, The Stakes @ Rebel Lnge
    3/29 John Primer & Bob Corritore Band w/ Crawlin' Kingsnake @ The Rhythm Room
    3/30 Local Honey @ Main Stage (Cottonwood)
    3/30 Barclay Crenshaw @ Walter Where?H
    3/30 Nicotine Dolls @ The Marquee
    3/30 Carlo Lio x Technasia @ Sunbar
    3/30 Tyler Gummersall @ Last Exit Live
    3/30 Nils Hoffman @ Darkstar
    3/30 VS Self @ 191 Toole
    3/30 Eagle Noise @ Yucca Tap Room
    3/30 Cold Shott & The Hurricane Horns @ The Rhythm Room
    3/30 Jen X & The Boomers, Kyle Owen Band, Cosmic Coyote @ Cactus Jacks
    3/30 Dogs In A Pile w/ Bush League @ Club Congress
    3/31 Tell all your Friends & Arsenic Kitchen @ Yucca Tap Room
    3/31 Hotline TNT w/ Symbiote @ Rebel Lge
    3/31 Ruby Love & The Encore @ The Rhythm Room
    ------------------------------------------------------------------------
    4/1 Waterparks @ The Van Buren
    4/1 Raven & Viscious Rumors @ Last Exit
    4/1 Hans Williams @ Valley Bar
    4/1 Skating Polly w/Bugsy, Wallace Howard @ The Rebel Lounge
    4/1 Poppy Harpman & The Storm @ The Rhythm Room
    4/1 Movements w/ Tigers Jaw @ Rialto
    4/2 Super Secret Band w/ Hypervisor @ The Rhythm Room
    4/2 Dadi Freyr @ The Van Buren
    4/2 NoahFinnce @ Walter Studios
    4/2 Mike Mains & The Branches @ Last Exit
    4/2 Steve Hofstetter @ 191 Toole
    4/2 Torres @ Valley Bar
    4/2 Tom Keifer (Cinderella) w/ LA Guns @ Celebrity Theater
    4/2 Laetitia Sadier w/ Sofia Bolt @ The Rebel Lge
    4/3 Offset @ The Van Buren
    4/3 Tom Keifer (Cinderella) & LA Guns @ The Rialto
    4/3 The Happys & Indre @ Last Exit Live
    4/3 Sleepytime Gorilla Museum @ Crescent
    4/3 Johnny Manchild & The Poor Bastards @ Yucca Tap Room
    4/3 Michael Sayer w/ Sunriver CA, Wah Wah @ The Rebel Lounge
    4/4 Sleepy Time Gorilla Museum @ 191 Toole
    4/4 People Who Could Fly @ Yucca Tap Rm
    4/4 Suzy Bogguss @ Fox Theater
    4/4 Jam Now w/ Presence, Awzy, Sophia Humbert @ The Rebel Lounge
    4/4 Big AL & The Heavyweights @ The Rhythm Room
    4/5 Yonder Mountain String Band @ 191 Toole
    4/5 Ministry @ The Rialto
    4/5 Dubbest & Tropic Vibration @ Last Exit
    4/5 Elephante @ Darkstar
    4/5 Teen Suicide @ Walter Studios
    4/5 Elephant Gun @ Yucca Tap Room
    4/5 Between You & Me w/ Young Culture @ The Rebel Lounge
    4/5 Ministry w/ Gary Numan & Front Line Assembly @ The Rialto
    4/4-4/7 Genesis Lake Jam @ Apache Lake
    4/6 Uncommon Good @ Coach House
    4/6 The Sugar Theives @ Rhythm Room
    4/6 Black Kray @ The Marquee Theater
    4/6 Arms Length @ Valley Bar
    4/6 Total Chaos @ Yucca Tap Room
    4/6 QRion @ Darkstar
    4/6 Yonder Mountain String Band @ Yucca North
    4/7 Yonder Mountain String Band @ The Marquee Theater
    4/7 Strfkr @ 191 Toole
    4/7 Hurray for the Riff Raff @ Valley Bar
    4/7 The Karens @ Yucca Tap Room
    4/7 Fly by Midnight @ The Rebel Lounge
    4/7 Brigitte Purdy @ The Rhythm Room
    4/7 Paul McCartney Tribute @ Fox Theater
    4/8 Gary Numan @ Crescent Ballroom
    4/9 Bridgitte Calls Me Baby @ Valley Bar
    4/9 Chastity Belt @ 191 Toole
    4/9 Late Night Drive Home @ Rebel Lounge
    4/10 The Black Crowes @ Arizona Financial
    4/10 Games We Play @ Valley Bar
    4/10 Tinsley Ellis @ 191 Toole
    4/10 Aborosie @ The Marquee Theater
    4/10 The Hangmen @ Yucca Tap Room
    4/11 Palace @ The Van Buren
    4/11 Ritchie @ Valley Bar
    4/11 Mark Hummel & The Blues Survivors @ The Rhythm Room
    4/11 Surf Trash w/ Parrotfish @ Rebel Lnge
    4/11 Destroyer of Light @ Yucca Tap Room
    4/12 Planck & Love Mischief @ Pho Cao
    4/12 Steve Hackett (Genesis) @ The Rialto
    4/12 John Scofield Trio @ Musical Instrument Museum
    4/12 Flight Facilities w/ Jeremy Sarcoz B2B Maharani @ Walter Where?House
    4/12 Joey Harkum, Haley Green Band @ Last Exit Live
    4/12 Ledisi @ Chandler Center of the Arts
    4/12 Riot Ten @ Sunbar
    4/12 Slothrust @ Valley Bar
    4/12 Lady Faith @ Darkstar
    4/12 Taylor Hicks @ Fox Theater
    4/12 Sextile w/ Donzii @ Club Congress
    4/12 U.S. Grave w/ Forts, Lilac Angel
    4/12 Hooks & The Huckleberries @ Yucca Tap Room
    4/13 The Floozies w/ MZG, Father Funk @ Darkstar
    4/13 Hypervisor & Cosmic Coyote @ Pho Cao
    4/13 The Brothers Comatose @ 191 Toole
    4/13 Steve Hackett @ Celebrity Theater
    4/13 Brittany Howard @ The Marquee
    4/13 LTJ Bukem @ Walter Studios
    4/13 Nicky Youre @ Valley Bar
    4/13 Conan w/ Psychic Trash @ Rebel Lnge
    4/13 Deadbolt & Flame Tricks @ Yucca Tap
    4/13 Randall King w/ Clay Hollis @ Orpheum Theater Flagstaff
    4/13 Metal Fest XXX @ The Rialto
    4/14 Joan Osborne @ Musical Instrument Museum
    4/14 Viva Lost Wages @ The Rhythm Room
    4/14 Jungle @ AZ Financial Theater
    4/14 The Last Dinner Party @ Van Buren
    4/14 Emperor X @ Valley Bar
    4/14 Social Distortion & Bad Religion @ Mesa Amphitheater
    4/14 Cimafunk w/ Pijama Piyama @ Rialto
    4/14 DoubleCamp, AltBloom @ Rebel Lnge
    4/15 Young Father's @ Crescent Ballroom
    4/15 Dirty Loops @ The Marquee Theater
    4/15 Malcolm Todd @ Valley Bar
    4/15 Landon Conrath w/ Badlands @ The Rebel Lounge
    4/15 Lucky Devils Band @ Rhythm Room
    4/15 Laufey @ AZ Financial Theater
    4/15 Alestorm w/ Elven King @ The Rialto
    4/16 The Strumbellas @ Crescent Ballroom
    4/16 & 17 Primus, Puscifer, & A Perfect Circle @ Talking Stick Amphitheater
    4/16 Bayside @ The Van Buren
    4/16 Malcolm Todd @ The Rebel Lounge
    4/17 Eggy @ The Orpheum Flagstaff
    4/17 Beach Weather @ Crescent Ballroom
    4/17 Deya Dova @ Walter Studios
    4/17 Knox @ Valley Bar
    4/17 The Beths w/ Rocket @ 191 Toole
    4/17 The Gold Souls, The Ruminations, The Royal Family @ The Rhythm Room
    4/17 CocoRosie @ The Rebel Lounge
    4/18 Maoli @ The Marquee Theater
    4/18 Chris Renzema @ The Van Buren
    4/18 Glass Beach @ The Rebel Lounge
    4/18 Meltt @ Valley Bar
    4/18 & 4/19 Thee Sinseers @ & The Altons @ The Crescent Ballroom
    4/18 Maoli @ The Marquee Theater
    4/18 Glass Beach, Arcadia Grey, Fleece Kawasaki @ The Rebel Lounge
    4/19 Willie Nelson @ Mesa Amphitheater
    4/19 Charlie Parr @ Valley Bar
    4/19 Joplyn @ Darkstar
    4/19 Bang Yongguk III @ Marquee Theater
    4/19 Buck-O-Nine @ Yucca Tap Room
    4/19 Krooked Kings @ Orpheum Flagstaff
    4/19 Ty Segall w/ Sharpie Smile @ 191 Tool
    4/20 Dogs In A Pile @ Last Exit Live
    4/20 Chicano Batman @ The Van Buren
    4/20 Circuit Overload w/ Eliad Cohen @ Walter Studios
    4/20 Cold Shott & The Hurricane Horns @ The Rhythm Room
    4/20 Los Lonely Boys @ Orpheum Flagstaff
    4/20 Bob Marley Tribute w/ Josh David (The Wailers) @ Cactus Jacks
    4/20 Lo Spirit @ Valley Bar
    4/20 Ryan Caraveo @ Crescent Ballroom
    4/20 Los Pacalolos @ The Time Out Loung
    4/20 Charlie Parr @ Yucca North
    4/20 Tom & Collins @ Sunbar
    4/20 Pauline Herr @ Darkstar
    4/20 Thee Sinseers & The Altons @ 191 Toole
    4/20 Scattered Guts @ Yucca Tap Room
    4/21 KBong & Johnny Cosmic @ Last Exit
    4/21 Nascar Aloe @ Valley Bar
    4/21 Krooked Kings @ 191 Toole
    4/21 City Morgue @ The Rialto
    4/21TWRP Digital Nightmare @ Crescent
    4/21 Asleep at the Wheel @ Fox Theater
    4/21 Thouxanbanfauni @ The Rebel Loung
    4/22 Brown Story @  Valley Bar
    4/22 Small Crush w/ Rave, Rain on Fridays @ The Rebel Lounge
    4/23 Deko w/ Yameii & Friends @ Valley Br
    4/23 Snow Strippers @ The Crescent BR
    4/23 Corb Lund @ Yucca North
    4/23 The March Divide @ Rhythm Room
    4/23 Better Lovers @ 191 Toole
    4/24 Mannequin Pussy @ The Crescent BR
    4/24 Combichrist @ The Rebel Lounge
    4/24 The Black Hole w/ Schpilt, Steen @ The Rhythm Room
    4/24 Corb Lund w/ Brandon Anderson @ 191 Toole
    4/25 Bad Omens @ Mesa Amphitheater
    4/25 Connor Price @ The Van Buren
    4/25 Kassi Valazza @ Valley Bar
    4/25 Jinjer @ The Marquee Theater
    4/25 Paerish @ Yucca North
    4/25 Kai Wachi @ The Rialto
    4/25 Young Rising Sons w/ 44Blonde, Diva Bleach @ The Rebel Lounge
    4/26 Planck @ Sky Bar
    4/26 Boogie T & Chef Boyarbeatz @ Sunbar
    4/26 Satellite @ Last Exit Live
    4/26 Kai Wachi @ The Van Buren
    4/26 J Boog @ The Marquee Theater
    4/26 Arizona Zervas @ Valley Bar
    4/26 Charles Wesley Godwin @ The Rialto
    4/26 Blind Gaurdian @ The Crescent BR
    4/26 DJ Susan X Freak On @ Darkstar
    4/27 Scottsdale Jazz, Blues, & Brews Fest @ Scottsdale Civic Center East
    4/27 Jimi "Primetime" Smith & Bob Corritore Band @ The Rhythm Room
    4/27 Neil Young & Crazy Horse @ Talking Stick Amphitheater
    4/27 Inzo @ The Van Buren
    4/27 Will Clarke @ Sunbar
    4/27 Julia Wolf @ The Rebel Lounge
    4/27 Tep No @ Valley Bar
    4/27 Steel Pulse @ The Marquee Theater
    4/27 Love Equals Death @ Yucca Tap Rm
    4/27 ALRT @ Darkstar
    4/27 Rhiannon Giddens w/ Charly Lowry @ The Rialto
    4/28 SlowDive & Drab Majesty @ Van Buren
    4/28 Starset @ The Marquee Theater
    4/28 Surfer Girl & The Wide Eyed Kids @ Last Exit Live
    4/28 Suzie & The Acceleratorz @ The Rhythm Room
    4/28 Mama Coals Willie Heat @ 191 Toole
    4/28 Inzo @ Orpheum Theater Flagstaff
    4/28 Carter Ace @ Valley Bar
    4/28 Bruce Cockburn @ The Rialto Theater
    4/28 La Lom @ The Rebel Lounge
    4/29 Tenille Towns @ Valley Bar
    4/29 Sextile w/ Donzii @ The Rebel Lounge
    4/29 Quarters of Change @ Walter Studios
    4/29 Benson Boone @ AZ Financial Theater
    4/29 J Boog w/ Cas Haley @ Orpheum Flag
    4/30 Lola Kirke @ The Rebel Lounge
    4/30 Mickey Darling @ The Crescent BR
    4/30 Metz @ Valley Bar
    4/30 Sleep Token @ AZ Financial Theater
    4/30 Love Velvet @ Yucca Tap Room
    4/30 Lola Kirke w/ Dale Hollow @ Rebel Lg
    4/30 DB. Boutabag @ 191 Toole
    ------------------------------------------------------------------------
    5/1 Diggin Dirt w/ Planck @ Last Exit Live
    5/1 Cypress Hill @ Pepsi Amphitheater
    5/1 Angelo Moore (Fishbone) @ 191 Toole
    5/1 Helmet @ Walter Studios
    5/1 Xavi @ The Van Buren
    5/1 Kenny Mason @ Valley Bar
    5/1 No Vacation @ The Crescent Ballroom
    5/2 Ultra Sunn @ The Rebel Lounge
    5/2 Xavi @ The Rialto Theater
    5/2 Giant Rooks @ The Crescent Ballroom
    5/3 Ott, Mindex, & Living Light @ Walter WH
    5/3 Kiltro @ Valley Bar
    5/3 Sunny Sweeney w/ The Zookeepers @ Orpheum Theater Flagstaff
    5/3 Devin The Dude @ The Rebel Lounge
    5/3 Yachtley Crew @ The Rialto Theater
    5/4 The Psychedelic Furs @ Celebrity Thtr
    5/4 The Sugar Theives @ Rhythm Room
    5/4 Yachtley Crew @ The Marquee Theater
    5/4 Bob Moses(Club set) @ Walter WH
    5/4 Ethan Bortnick @ Valley Bar
    5/4 Small Pools & GrayScale @ Crescent
    5/5 Cypress Hill @ The Marquee Theater
    5/5 Taylor Acorn w/ Worlds First Cinema @ The Rebel Lounge
    5/5 Clay @ Valley Bar
    5/5 Devin The Dude @ 191 Toole
    5/5 City & Colour & The Rialto Theater
    5/5 Blake Rose @ The Crescent Ballroom
    5/5 Blu Egyptian & Hypervisor @ Last Exit
    5/6 The Psychedelic Furs @ The Rialto
    5/6 Krizz Kaliko @ Valley Bar
    5/7 The Rolling Stones @ State Farm Stad.
    5/7 Ekkstacy @ Crescent Ballroom
    5/8 Interpol @ Mesa Amphitheater
    5/8 Livingston @ Valley Bar
    5/8 Emma Willman @ 191 Toole
    5/8 Benny The Butcher @ The Marquee
    5/9 Tu-Ner @ The Rhythm Room
    5/9 Mariee Siou @ 191 Toole
    5/10 Hypervisor, Space Radio @ Cactus Jac
    5/10 Knocked Loose & Loathe @ Marquee
    5/10 TigerCub @ The Rebel Lounge
    5/10 Adam Ant w/ The English Beat
    5/10 Billy Idol @ Pepsi Amphitheater
    5/10 Kyle Walker @ Sunbar
    5/10 Chris Isaak @ Fox Theater
    5/11 Planck @ On the Rocks
    5/11 Tribal Seeds @ The Van Buren
    5/11 Augustana @ Crescent Ballroom
    5/11 Muerte @ Darkstar
    5/11 Chris Isaak w/ Max Gomez @ Celebrity Theater
    5/11 Gipsy Kings feat. Tonino Baliardo @ Pepsi Amphitheater
    5/11 Epic Queen (Tribute) @ Orpheum Flag
    5/11 21 Savage @ Talking Stick Amphithetr
    5/11 Night Club w/ Rose Garden Funeral Party @ The Rebel Lounge
    5/11 Riley Green @ AZ Financial Theater
    5/12 Tribal Seeds @ Orpheum Flagstaff
    5/12 Smash Into Pieces @ The Crescent
    5/12 Shordie Shordie @ 191 Toole
    5/13 Blues Traveler @ The Rialto Theater
    5/13 Waxahatchee @ The Van Buren
    5/13 Jack & Jack w/ Sammy Wilk @ The  Crescent Ballroom
    5/13 Charles Wesley Gordon @ Orpheum Theater Flagstaff
    5/14 MIKE @ Crescent Ballroom
    5/14 Drew Holcomb & The Neighbors @ The Rialto
    5/14 Panchiko @ The Van Buren
    5/14 Meatbodies @ The Rebel Lounge
    5/14 The Toxhards @ Valley Bar
    5/15 Marcus King Band @ The Van Buren
    5/15 The Bygones @ Last Exit Live
    5/15 Wednesday @ Crescent Ballroom
    5/15 The Bygones @ Last Exit Live
    5/15 Mike Zito (Cd Release) @ Rhythm Rm
    5/16 AJ Lee & Blue Summit @ Valley Bar
    5/16 Alvvays @ The Van Buren
    5/16 Punk Rock Factory @ Rebel Lounge
    5/16 Cowboy Mouth @ The Marquee Thr
    5/16 Emo Orchestra featuring Escape the Fate @ Celebrity Theater
    5/16 Nekrogoblikon w/ Hunt the Dinosaur @ 191 Toole
    5/16 Hemlock @ Orpheum Flagstaff
    5/17 The Higgs w/ Kyle Merrill @ Last Exit
    5/17 We Three @ Valley Bar
    5/17 Alvvays @ The Rialto Theater
    5/18 The 502's @ The Van Buren
    5/18 Deaf Club & Hirs Collective @ The Nile
    5/18 Ralph Barbosa @ The Rialto Theater
    5/18 Asking Alexandria @ The Marquee
    5/19 Warpaint @ The Van Buren
    5/19 Electric Six & Super Suckers @ The Rebel Lounge
    5/20 Yot Club @ Valley Bar
    5/20 Medium Build & Rosie Rush @ The Rebel Lounge
    5/20 Armored Saint @ The Nile
    5/21 Local Natives @ The Rialto Theater
    5/21 Gunna @ AZ Financial Theater
    5/21 Little Miss Nasty w/ Whitney Peyton @ The Rebel Lounge
    5/21 Lane Lines, Izzy Mahoubi @ The Rhythm Room
    5/22 Rich Amiri @ The Crescent Ballroom
    5/23 Amon Amarth @ AZ Financial Theater
    5/23 Kelli Baker w/ Kyle Rowland @ The Rhythm Room
    5/23 Dayseeker w/ Polaris @ The Rialto
    5/24 Avi Kaplan @ The Rebel Lounge
    5/24 Jiqui @ Darkstar
    5/24 Maggie Rogers @ AZ Financial Thtr
    5/24-5/26 Grateful Festival @ Fort Tuthill Fairgrounds
    5/25 Fruition @ Valley Bar
    5/25 Cheekface w/ Yungatita @ Rebel Lnge
    5/24 Black Veil Brides @ The Marquee
    5/25 Microwave @ The Van Buren
    5/25 Trivecta & Lizzy Jane @ Sunbar
    5/26 Angelo Moore (Fishbone) @ The Rebel Lounge @ The Rebel Lounge
    5/26 Lord Huron @ Pepsi Amphitheater
    5/26 Sean Paul @ The Van Buren
    5/26 Rohaan @ Darkstar
    5/27 Teezo Touchdown @ The Crescent
    5/28 & 5/29 Molly Tuttle & Golden Highway @ Musical Instrument Museum
    5/29 Taking Back Sunday @ The Van Buren
    5/29 Dead Poet Society @ The Crescent
    5/30 SOEN w/ Trope @ Crescent Ballroom
    5/30 Kottonmouth Kings @ Rebel Lounge
    5/30 Felix Y Los Gatos @ Rhythm Room
    5/31 Evangelia @ Valley Bar
    5/31 Blackberry Smoke @ Marquee Theater
    5/31 Molly Tuttle & Golden Highway @ Orpheum Theater Flagstaff
    ------------------------------------------------------------------------
    6/1 Xavier Rudd @ The Van Buren
    6/1 The Sadies @ 191 Toole
    6/2 Avril Lavigne @ Talking Stick Amphitr
    6/2 Camera Obscura @ The Crescent BR
    6/2 Johnny DeFrancesco w/ Meredith Moore & Brian Chartrand @ Rhythm Room
    6/3 The Jins w/ Sap @ The Rebel Lounge
    6/3 YellaCat @ The Rhythm Room
    6/4-6/6 Desert Hearts Festival @ Playa Ponderosa
    6/4 Flamingosis @ Thunderbird Lounge
    6/4 The Teskey Bros @ The Van Buren
    6/4 Sarah McLachlan @ AZ Financial Thtr
    6/5 The Amity Affliction @ The Marquee
    6/5 Vision Video @ 191 Toole
    6/7 Allen Stone @ The Van Buren
    6/7 Cavetown & Mother Mother @ AZ Financial Theater
    6/7 Terry Hanck & The Bad News Blues Band @ The Rhythm Room
    6/7 Hypervisor & Benja Bloom @ Pho Cao
    6/8 Planck & Shambala @ Pho Cao
    6/8 1964 (Beatles tribute) @ The Marquee
    6/8 Wand @ The Rebel Lounge
    6/9 Vampire Weekend @ AZ Financial Thtr
    6/9 Alanis Morissette @ Talking Stick Amp
    6/10 LipCritic @ The Rebel Lounge
    6/10 Oliver Hazard @ 191 Toole
    6/11 Brit Floyd @ Tucson Music Hall
    6/11 Tedeschi Trucks Band @ AZ Financial Theater
    6/11 Echo & The Bunnymen @ The Rialto
    6/12 Frank Turner & The Sleeping Stars @ The Van Buren
    6/13 Echo & The Bunnymen @ Van Buren
    6/13 Kara Krainger @ The Rhythm Room
    6/13 Adrianne Lenker @ The Rialto Theater
    6/14 Pink Floyd Laser Spectacular @ The Marquee Theater
    6/14 X Ambassadors @ The Van Buren
    6/14 & 15 Uncommon Good @ The Birdacage Prescott
    6/14 Soft Machine @ The Rhythm Room
    6/15 Motorbabe @ Yucca Tap Room
    6/16 The High Curbs @ Rebel Lounge
    6/16 Alastair Greene w/ Ben Rice @ The Rhythm Room
    6/17 Weapons of Mass Creation @ The Rebel Lounge
    6/17 K Bong & Johnny Cosmic @ Yucca No
    6/19 Todd Rundgren @ Celebrity Theater
    6/19 Melt-Banana @ The Rebel Lounge
    6/19 Chameleons @ 191 Toole
    6/20 The Chameleons @ Last Exit Live
    6/21-6/23 June Jam @ Playa Ponderosa
    6/22 Of Montreal @ Crescent Ballroom
    6/22 Mad Tsai @ Valley Bar
    6/22 K?D @ Sunbar
    6/22 Yachtley Crew @ Pepsi Amphitheater
    6/22 Prince Tribute @ Orpheum Flagstaff
    6/25 DIIV @ The Van Buren
    6/25 Sebastian Bach @ The Rialto Theater
    6/25 Polly O'Keary & The Rhythm Method @ The Rhythm Room
    6/26 Say Anything @ The Van Buren
    6/28 Brit Floyd @ AZ Financial Theater
    6/28 GayC/DC @ The Rebel Lounge
    ------------------------------------------------------------------------
    7/2 Iron & Wine @ The Van Buren
    7/2 Surely Tempo w/ Tony Jupiter @ The Rebel Lounge
    7/5 Cage The Elephant @ Talking Stick Amphitheater
    7/7 Blushing @ The Rebel Lounge
    7/9 PVRIS2024 @ The Van Buren
    7/9 New Kids on the Block w/ Paula Abdul @ Talking Stick Amphitheater
    7/11 Chris O'Leary Band @ Rhythm Room
    7/12 Death by Stereo @ Yucca Tap Room
    7/14 SoftCult @ The Rebel Lounge
    7/15 Sign Crushes Motorist, Olivia O @ The Rebel Lounge
    7/19 The Decemberists @ The Rialto
    7/20 The Decemberists @ The Van Buren
    7/24 Kenny Chesney @ Talking Stick Amp
    7/32 Niall Horan @ Talking Stick Amph
    ------------------------------------------------------------------------
    8/3 Jay Allan's Birthday Bash Show @ The Rhythm Room
    8/3-8/4 Jerry Garcia Birthday Bash @ Fort Tuthill Barn
    8/4 UB40, Inner Circles, Third World @ AVA Amphitheater
    8/4 Bruce Hornsby & The Noisemakers @ Pepsi Amphitheater
    8/7 O.A.R. w/ Fitz & The Tantrums @ AZ Financial Theater
    8/8 Strfkr @ The Van Buren
    8/8 Nitty Gritty Dirt Band @ Fox Theater
    8/9 & 10 Dayweather @ The Birdcage Saloon Prescott
    8/11 Caloncho @ The Van Buren
    8/16 Loserville 2024 w/ Limp Biskit, Bones, Corey Feldman, Riff Raff @ Talking Stick Amphitheater
    8/18 The Dead South @ The Van Buren
    8/20 Sammy Hagar @ Talking Stick Amphit
    8/20 Kings Of Leon @ AZ Financial Theater
    8/20 The Australian Pink Floyd Show @ Fox Theater
    8/23 Planck, Bush League @Club Congress
    8/23 Lamb of God & Mastadon @ AZ Financial Theater
    8/25 Dirty Heads & Slightly Stoopid @ Talking Stick Amphitheater
    8/26 Robert Plant & Allison Krause @ Pepsi Amphitheater
    ------------------------------------------------------------------------
    9/1 Thirty Seconds to Mars @ Talking Stick Amphitheater
    9/4 Creed @ Talking Stick Amphitheater
    9/4 Curtis Salagdo @ The Rhythm Room
    9/6 Novo Amor @ The Van Buren
    9/6 John Lydon (Johnny Rocket) @ Orpheum Flagstaff
    9/6 & 7 Uncommon Good @ The Birdcage Saloon Prescott
    9/7 Bonnie Raitt @ Tucson Music Hall
    9/7 Johnny Rawls @ The Bad News Blues Band @ The Rhythm Room
    9/11 Train & Reo Speedwagon @ Talking Stick Amphitheater
    9/13-15 Pickin in the Pines w/ Del McCoury,  Leftover Salmon, Yonder Mountain String Band, Steep Canyon Rangers, and more @ Pepsi Amphitheater
    9/13 Hozier @ Tucson Music Hall
    9/14 Osees w/ Amplified Heat @ 191 Toole
    9/14 Bush @ Talking Stick Amphitheater
    9/16 Chromeo & The Midnight @ Van Buren
    9/17 Peter Hook & The Light @ Van Buren
    9/18 Green Day, The Smashing Pumpkins, & Rancid @ Chase Field
    9/21 Future Islands @ The Van Buren
    9/25 Tinlicker @ The Van Buren
    9/25 King Buzzo & Trevor Dunn @ 191 Tool
    9/26 Lord of the Lost @ The Van Buren
    9/26 King Buzzo w/ JD Pinkus @ Rebel Lng
    9/27 Goth Babe @ AZ Financial Theater
    ------------------------------------------------------------------------
    10/2 Sum 41 @ AZ Financial Theater
    10/8 Lawrence @ The Van Buren
    10/13 The Noisemakers @ Rhythm Room
    10/22 The Black Jacket Symphony perf. Elton John Tribute @ Rialto
    10/23 Social Distortion @ The Rialto
    10/24 Witchz @ The Crescent Ballroom
    10/25 Punk Rock Halloween Bash 12 @ Yucca Tap Room
    10/31 DEHD @ The Crescent Ballroom
    ----------------------‐‐------------------------------------------------
    11/2 Croce Plays Croce @ Fox Theater
    11/7 Tas Cru @ The Rhythm Room
    11/9 King Gizzard & The Lizard Wizard @ AZ Financial Theater
    11/10 HomeShake @ The Crescent BR
  </pre>
</body>
</html>
